<app-top-bar></app-top-bar>
<div class="jumbotron container-fluid text-body bg-secondary">
  <h1 class="text-center">PETS</h1>
</div>
  <div class="container-fluid text-center">
  <img src="https://i.postimg.cc/hv5Wk1jv/petsimage.jpg" class="img-fluid" id="inventorybanner">
  <hr>
  </div>

  <div class="jumbotron container-fluid text-body bg-primary">
    <h1 class="text-center">DOGS</h1>
  </div>
  <div class="d-flex">
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/TwTcx8LN/dogimage1.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-primary flex-fill"><img src="https://i.postimg.cc/SKfWDZT6/dogimage2.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/Gm1qcgfD/dogimage3.jpg" class="img-fluid"/></div>
  </div>
  <div class="d-flex">
    <div class="p-2 bg-primary flex-fill"><img src="https://i.postimg.cc/SQHpGqXp/dogimage4.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/D0w3Yyr2/dogimage5.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-primary flex-fill"><img src="https://i.postimg.cc/kGzYFnwY/dogimage6.jpg" class="img-fluid"/></div>
  </div><br>

  <div class="jumbotron container-fluid text-body bg-primary">
    <h1 class="text-center">CATS</h1>
  </div>

  <div class="d-flex">
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/fL5fTHYz/catimage1.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-primary flex-fill"><img src="https://i.postimg.cc/wTbgZJ4n/catimage2.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/Bv4YC7c3/catimage3.jpg" class="img-fluid"/></div>
  </div>
  <div class="d-flex">
    <div class="p-2 bg-primary flex-fill"><img src="https://i.postimg.cc/V6MJLgpS/catimage4.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/pXQKBW09/catimage5.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-primary flex-fill"><img src="https://i.postimg.cc/Y0GbS5k6/catimage6.jpg" class="img-fluid"/></div>
  </div><br>

  <div class="jumbotron container-fluid text-body bg-primary">
    <h1 class="text-center">FISH</h1>
  </div>

  <div class="d-flex">
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/kX2kVHwh/fishimage1.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-primary flex-fill"><img src="https://i.postimg.cc/qR87dR6y/fishimage2.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/htPQb9zw/fishimage3.jpg" class="img-fluid"/></div>
  </div>
  <div class="d-flex">
    <div class="p-2 bg-primary flex-fill"><img src="https://i.postimg.cc/263xHs1s/fishimage4.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/fbNFrRs6/fishimage5.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-primary flex-fill"><img src="https://i.postimg.cc/Wz5T2JNF/fishimage6.jpg" class="img-fluid"/></div>
  </div><br>

  <div class="jumbotron container-fluid text-body bg-primary">
    <h1 class="text-center">BUNNIES</h1>
  </div>

  <div class="d-flex">
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/C5SgdcD5/homeimage3.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-primary flex-fill"><img src="https://i.postimg.cc/zXMY0NVr/bunnyimage2.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/KvbM4XZm/bunnyimage3.jpg" class="img-fluid"/></div>
  </div><br>

  <div class="jumbotron container-fluid text-body bg-primary">
    <h1 class="text-center">BIRDS</h1>
  </div>

  <div class="d-flex">
    <div class="p-2 bg-primary flex-fill"><img src="https://i.postimg.cc/pdRjhfWp/birdimage1.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/QC2SKfxR/birdimage2.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-primary flex-fill"><img src="https://i.postimg.cc/ZqbHNB4K/birdimage3.jpg" class="img-fluid"/></div>
  </div><br>

  <div class="jumbotron container-fluid text-body bg-primary">
    <h1 class="text-center">MICE</h1>
  </div>

  <div class="d-flex">
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/TwHtfd82/mouseimage1.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-primary flex-fill"><img src="https://i.postimg.cc/VvV9Xd72/mouseimage2.jpg" class="img-fluid"/></div>
    <div class="p-2 bg-secondary flex-fill"><img src="https://i.postimg.cc/wx1pJ3jV/mouseimage3.jpg" class="img-fluid"/></div>
  </div><br>

<app-footer-bar></app-footer-bar>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>