/*Kiera Schworer
April 19, 2023*/

main {
  text-align: center;
}

#programmingexperience {
  width: 100%;
  background-color:white;
  border-collapse: collapse;
  border-width: 2px;
  border-color: black; 
  border-style: solid;
  color: #000000;
  margin-bottom: 20px;
}
thead {
  color: white;
}
#programmingexperience td, th {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 15px;
}
#programmingexperience th {
  background-color: #3A5795;
}
caption {
  font-size:x-large;
  padding-bottom: 10px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.projects .button {
  display: block;
  width: 180px;
  color:white;
  background-color:black;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}
#experiencebutton {
  background-color:white;
}
#experiencebutton a:hover{
  color:#3A5795;
}
/*Pseudo Class Visited*/
.projectbox a:visited {
  color:gainsboro;
}
/*Pseudo Class Active*/
.projectbox a:active {
  color:#3A5795;
}