#indexbutton {
  background-color: white;
}
#indexbutton a:hover{
  color:#3A5795;
}
#workspace {
  margin: auto;
  display: block;
  text-align: center;
  width: 65vw;
}
#indextext {
text-align: center;
}
#contactbanner {
  text-align: center;
  font-family: 'swansea', georgia, sans-serif;
}
.contactinfo {
  text-align: center;
}
.contactinfo a:link,:visited {
  color: black;
  text-decoration: none;
}
a:link {
  color: #3A5795;
}