@font-face {
  font-family: 'swansea'; src: url('../fonts/swansea.woff') format('woff'), url('../fonts/swansea.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
#aboutbutton {
  background-color: white;
}
#aboutbutton a:hover{
  color:#3A5795;
}
#workspace {
  margin: auto;
  display: block;
  text-align: center;
  width: 65vw;
}