<nav class="navbar navbar-expand-sm bg-primary navbar-light" id="welcomesection">
  <a class="navbar-brand p-5" href="/">Pet Palace</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-body" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-body" href="/pets">Pets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-body" href="/shop">Shop</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link text-body" href="/about">About</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link text-body" href="/contact">Contact</a>
      </li> 
    </ul> 
  </nav>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->