/*Kiera Schworer
April 12, 2023*/

header{
  background-color:cadetblue;
}
footer{
  background-color:cadetblue;
}
p, ul, li {
  font-size: 20px;
}
a:link {
color:mediumvioletred
}
a:visited {
color:blueviolet
}
a:hover {
color:darkgreen
}
a:active {
color:deepskyblue
}