
/*Kiera Schworer
April 20, 2023*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto-italic-webfont.woff') format('woff'),
	url('../fonts/roboto-italic-webfont.woff2') format('woff2');
}
	 
#outerwrapper {	
	border-radius: 15%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background: rgba(243,205,170, 0.4);
}
html {
	background-image: url(../images/jewelry.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
footer {
	font-size: 1em;
	padding-bottom: 10px;
	text-align:center;
}
main {
	background: linear-gradient(#FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: Arial, Helvetica, sans-serif;
}
.addrightmargin {
	float: left;
	border-radius: 60%;
	margin-right: 10%;
}
nav li {
	list-style: none;
	font-size: 1.5em;
	clear: left;
}
h1 {
	font-family: 'Pacifico', cursive, sans-serif;
}
h2 {
	font-family: 'roboto', "Times New Roman", serif;
	font-style: italic;
	font-size: 2em;
}


