<app-top-bar></app-top-bar>

<div class="jumbotron container-fluid text-body bg-secondary">
  <h1 class="text-center">ABOUT</h1>
</div>
  <div class="container-fluid text-center">
  <img src="https://i.postimg.cc/Kj4CD3N2/aboutimage.jpg" class="img-fluid" id="inventorybanner">
  <hr>
  </div>

  <h4 class="text-center">Welcome to Pet Palace, where our passion for pets and commitment to exceptional care come together to create a haven for both pets and pet enthusiasts alike.</h4><br>

  <h4 class="text-center">At Pet Palace, our story is one of love, dedication, and the belief that every pet deserves a castle of their own. Founded with the vision of connecting families with their perfect companions, we strive to provide a unique and delightful experience for every visitor.</h4><br>

  <h4 class="text-center">Pet Palace is not just a place to find the perfect pet; it's a community of pet lovers. We host events, provide resources, and offer support to help you navigate the joys and challenges of pet ownership. Our commitment doesn't end at the point of sale; we're dedicated to being a reliable partner on your pet parenting journey.</h4><br>

  <h4 class="text-center">Thank you for considering Pet Palace as your destination for all things pets. Join us in celebrating the magic of the human-animal bond, and let's create lasting memories together.</h4><br>

<app-footer-bar></app-footer-bar>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>