<app-top-bar></app-top-bar>

<div class="jumbotron container-fluid text-body bg-secondary">
  <h1 class="text-center">Welcome to Pet Palace!</h1>
</div>
  <div class="container-fluid text-center">
  <img src="https://i.postimg.cc/wBp8Yv6X/homeimage.jpg" class="img-fluid" id="inventorybanner">
  <hr>
  </div>

  <h4 class="text-center">Step into a world of wonder at Pet Palace, where enchanting companionship awaits. At our regal emporium, not only will you find a diverse selection of premium pet supplies, but you'll also discover your next loyal friend among our array of delightful pets.</h4><br>

  <div class="container-fluid text-center">
  <img src="https://i.postimg.cc/RZjLcy0P/homeimage2.jpg" class="img-fluid" id="inventorybanner">
  </div><br/>

  <h4 class="text-center">Immerse yourself in the joy of choosing from a variety of lovable pets, each seeking a forever home. Whether you're drawn to the playful antics of puppies, the purring elegance of cats, or the charming antics of small critters, Pet Palace is where heartwarming connections are made.</h4><br>

  <div class="container-fluid text-center">
    <img src="https://i.postimg.cc/C5SgdcD5/homeimage3.jpg" class="img-fluid" id="inventorybanner">
    </div><br/>

  <h4 class="text-center">Our commitment extends beyond providing top-tier pet supplies; we are dedicated to facilitating loving relationships between families and their newfound furry or feathery friends. From cozy beds and nutritious treats to interactive toys and grooming essentials, Pet Palace ensures that both you and your new companion embark on a journey filled with love and happiness.</h4><br>

  <div class="container-fluid text-center">
  <img src="https://i.postimg.cc/HnswYCSL/homeimage4.jpg" class="img-fluid" id="inventorybanner">
  </div><br/>

  <h4 class="text-center">Join us in creating moments of joy, one tail wag at a time. Explore Pet Palace, where pets find their homes and homes find their pets.</h4><br>

  <a href="/pets"><div class="jumbotron container-fluid text-body bg-secondary">
    <h1 class="text-center">Click to see our pets!</h1>
  </div></a>
  <a href="/shop"><div class="jumbotron container-fluid text-body bg-primary">
    <h1 class="text-center">Click to explore our shop!</h1>
  </div></a>

<app-footer-bar></app-footer-bar>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>