<app-top-bar></app-top-bar>

<div class="jumbotron container-fluid text-body bg-secondary">
  <h1 class="text-center">CONTACT</h1>
</div>
  <div class="container-fluid text-center">
  <img src="https://i.postimg.cc/W4wRNv3Q/contactimage.jpg" class="img-fluid" id="inventorybanner">
  <hr>
  </div>

  <h1 class="text-center">📞 Contact Pet Palace</h1><br>

  <h4 class="text-center">We're thrilled to hear from you at Pet Palace! Whether you have questions about our delightful pets, need assistance with selecting the perfect pet supplies, or just want to share stories about your furry, feathery, or scaly friends, we're here to help.</h4>

  <h1 class="text-center">Customer Support:</h1><br>
  
  <h4 class="text-center">Our dedicated customer support team is ready to assist you with any inquiries you may have. Feel free to reach out via phone or email during our business hours, and we'll ensure your experience with Pet Palace is nothing short of royal.</h4><br>

  <h4 class="text-center"></h4>

  <h1 class="text-center">Phone:</h1>

  <h4 class="text-center">(208) 123-4567</h4>

  <h1 class="text-center">Email:</h1>

  <h4 class="text-center">petpalace@pets.net</h4><br>

  <h1 class="text-center">Visit Us:</h1>

  <h4 class="text-center">123 Royal Avenue<br>
    Petlandia, PA 12345<br>
    United States</h4><br>

<app-footer-bar></app-footer-bar>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>