/*9/16/23*/
#contactbanner /*10/06/23*/{
  margin: auto;
  display: block;
  text-align:right;
  width: 90vw;
}
#contactform {
  color: lightsalmon;
}
#contactform label {
  color: lightsalmon;
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}
#contactform input{
  width: 250px;
  padding: 5px;
  margin-bottom: 10px;
}
textarea {
  margin-top: 10px;
  width: 90vw;
}
h1 {
  color: black;
  text-align: center;
  background-color: antiquewhite;
  padding: 10px;
}
label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}
input[type="text"] {
  width: 250px;
  padding: 5px;
  margin-bottom: 10px;
}
#submitmessage {
  margin-top: 15px;
  width: 30vw;
  color:white;
  background-color:lightsalmon;
  font-weight: bold;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}
/*Gradient*/
#submitmessage:hover {
  background: radial-gradient(white,lightsalmon);
  color:black;
}
#comeinsideimage {
  margin: auto;
  display: block;
  text-align:right;
  width: 65vw;
}
p {
  text-align: center;
  font-size: 1.5em;
  color: lightsalmon;
}

/*Media Queries!*/
@media screen and (max-width: 490px) {
  textarea {
    width: 70vw;
  }
  #contactform input{
    width: 70vw;
  }
}