h1 {
  color:black;
  padding: 10px;
  text-align: center;
  background-color:antiquewhite;
}
h2 {
  cursor: pointer;
  text-align: center;
}
a {
  color: lightsalmon;
  text-decoration: none; 
}
a:link {
color: lightsalmon;
}
a:hover { 
color:white; 
}
div {
  display: none;
}
div.open {
  display: block;
}
p {
  color:lightsalmon;
  text-align: center;
  font-size:1.4em;
}