/*Kiera Schworer
April 19, 2023*/
/*  color:darkslategray ;
  background-color:darkgrey;*/

.projects {
  width: 90%;
  margin: 0 auto;
}
.projects .projectbox {
  float: left;
  margin-right: 15px;
 }
.projects .button {
  display: block;
  width: 180px;
  color:white;
  background-color:black;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}
#experiencebutton {
  background-color:white;
}